@model  Service
@{
    ViewData["Title"] = "Delete";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>@Model.Title</h3>
                <p>@Model.Description</p>
                <span style="color:forestgreen">@Model.IconField</span>
                <p class="text-danger mt-2">Are you sure delete this data?</p>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form method="post">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <a asp-action="Index"> <i class="fas fa-arrow-left"></i>Go back</a>
                </div>
            </div>
    </div>

