@model Service
@{
    ViewData["Title"] = "Detail";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>@Model.Title</h3>
                <p>@Model.Description</p>
                <span style="color:forestgreen">@Model.IconField</span>
            </div>
        </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a asp-action="Index"><i class="fas fa-arrow-left"></i>Go back</a>
                </div>
            </div>
    </div>

